@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido a Suplitecmo POS</h1>
    <p>Estamos en la Plaza HD, 2do Nivel Local No. 7, C/ presidente Antonio Guzman #8 Invivienda STO DGO Este. (849-620-5219)</p>
</div>
